<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.outsource.monitor">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ConnectActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="landscape">

        </activity>

        <activity android:name=".activity.SingleFrequencyMeasureActivity" android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".activity.MiddleFrequencyAnalyseActivity"  android:screenOrientation="landscape"/>
        <activity android:name=".activity.BandScanActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.DiscreteScanActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.DigitScanActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.RecordActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.AboutActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.OptionActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".mpchart.MPBandScanActivity" android:screenOrientation="landscape"/>
        <activity android:name=".mpchart.MPSingleFrequencyMeasureActivity" android:screenOrientation="landscape"/>
        <activity android:name=".activity.BaseSlidingMenuActivity" android:screenOrientation="landscape"/>

        <service android:name=".service.DataProviderService" android:exported="false"/>
    </application>

</manifest>